.experience__container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.experience__container > div {
  /* background: var(--color-bg-card); */
  border-right: 0.5rem solid #fff;
  padding: 2rem 3rem;
  border-radius: 2rem;
  /* border: 1px solid transparent; */
}

.experience__container > div:hover {
  background: var(--color-bg-card-hover);
  border-color: black;
  cursor: default;
  transition: 0.3s;
  color: black;
}

.experience__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.5rem;
}

.experience__details {
  display: flex;
  gap: 1rem;
}

.experience__details-icon {
  margin-top: 6px;
}

@media screen and (max-width: 1200px) {
  .experience__container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
  }
  .experience__container > div {
    width: 95%;
    padding: 2rem;
    margin: 0 auto;
  }
  .experience__content {
    padding: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .experience__container {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .experience__container > div {
    width: 95%;
    padding: 2rem;
    margin: 0 auto;
  }
  .experience__content {
    padding: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .experience__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .experience__container > div {
    width: 95%;
    padding: 2rem;
    margin: 0 auto;
  }
  .experience__content {
    padding: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .experience__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .experience__container > div {
    width: 100%;
    padding: 2rem 0.5rem;
  }
}

@media screen and (max-width: 360px) {
  .experience__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .experience__container > div {
    width: 100%;
  }
}
